<ion-view id="activity-add" title="Adicionar Atividade">
  <ion-content class="has-header" padding="true">
    <form name="form" class="list" novalidate>
      <label class="item item-input">
        <span class="input-label">Nome</span>
        <input type="text" ng-model="vm.input.name" required>
      </label>
      <ul class="list">
        <li class="item item-toggle">
          Atividade Recorrente
          <label class="toggle">
            <input type="checkbox" ng-model="vm.input.recurring">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      </ul>
      <div ng-if="vm.input.recurring">
      <label class="item item-input item-select">
        <span class="input-label">Duração</span>
        <select ng-model="vm.input.duration" required>
          <option value=1>1 Mês</option>
          <option value=3>3 Meses</option>
          <option value=6>6 Meses</option>
        </select>
      </label>
      </div>

      <div ng-if="!vm.input.recurring">
        <label class="item item-input">
          <span class="input-label">Data</span>
          <input type="date" ng-model="vm.date" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Horário Inicio</span>
          <input type="time" ng-model="vm.day.startTime" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Horário Fim</span>
          <input type="time" ng-model="vm.day.endTime" required>
        </label>
      </div>

      <button class="button icon-left button-block button-positive"
              ng-click="vm.submit()" ng-disabled="form.$invalid">Adicionar
      </button>
    </form>
  </ion-content>
</ion-view>