<ion-view style="" id="activity" title="{{vm.activity.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-assertive button-icon button-clear ion-android-delete"
            ng-click="vm.showConfirm()"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="false">
    <div class="card">
      <div class="item item-divider">Horário</div>
      <div class="item item-text-wrap" ng-if="vm.activity.recurring==false">
        <ul class="list">
          <li class="item item-button-right">
            {{vm.activity.startDate  | date: 'dd/MMM/yyyy'}} :
            {{vm.activity.days[0].startTime | date: 'HH:mm'}}
            - {{vm.activity.days[0].endTime | date: 'HH:mm'}}
          </li>
        </ul>
      </div>

      <div class="item item-text-wrap" ng-if="vm.activity.recurring">
        <ul class="list" ng-repeat="day in vm.activity.days track by day.id" ng-if="day.id">
          <li class="item item-button-right">
            {{vm.dayName[day.day]}} : {{day.startTime | date: 'HH:mm'}}
            - {{day.endTime | date: 'HH:mm'}}
            <a ng-click="vm.showConfirmDay(day.id)"
               class="button button-clear button-assertive">
              <i class="icon ion-android-delete"></i>
            </a>
          </li>
        </ul>
        <a class="item item-icon-left positive" ng-click="vm.addDay()">
          <i class="icon ion-android-add"></i>
          Adicionar
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>