<ion-view id="activity-add" title="Adicionar Atividade">
  <ion-content class="has-header" padding="true">
    <form name="form" class="list" novalidate>
      <label class="item item-input">
        <span class="input-label">Nome</span>
        <input type="text" ng-model="vm.input.name" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário</span>
        <input type="text"  required>
      </label>
      <button class="button icon-left button-block button-positive"
              ng-click="vm.addActivity()" ng-disabled="form.$invalid">Adiconar
      </button>
    </form>
  </ion-content>
</ion-view>