<ion-view style="" id="root" title="APP">
    <ion-tabs style="" class="tabs-stable tabs-icon-top tabs-striped tabs-background-royal tabs-color-light"">
        <ion-tab style="" title="Matérias" icon="ion-ios-book-outline" href="#/root/subject-list">
            <ion-nav-view name="subjectList"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Calendário" icon="ion-android-calendar" href="#/root/calendar">
            <ion-nav-view name="calendar"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>