<ion-view style="" id="calendar" title=" ">
  <!--<ion-content class="has-header" scroll="false" padding="true">-->
  <ion-nav-buttons side="right">
    <button class="button" ng-disabled="isToday()" ng-click="today()">Hoje</button>
    <button class="button" ng-click="changeMode('month')">M</button>
    <button class="button" ng-click="changeMode('week')">S</button>
    <button class="button" ng-click="changeMode('day')">D</button>
    <!--<button class="button" ng-click="loadEvents()">Load</button>-->
  </ion-nav-buttons>

  <ion-content scroll="false" class="main-content">
    <p style="text-align: center">{{viewTitle}}</p>
    <calendar ng-model="calendar.currentDate" calendar-mode="calendar.mode" event-source="calendar.eventSource"
              all-day-label="{{ calendar.allDayLabel }}"
              range-changed="reloadSource(startTime, endTime)"
              event-selected="onEventSelected(event)" title-changed="onViewTitleChanged(title)"
              time-selected="onTimeSelected(selectedTime)" step="30"></calendar>
  </ion-content>
</ion-view>