<ion-view id="grades">
  <ion-view style="" id="subject-list" title="Notas">
    <ion-content class="has-header" padding="true">

      <div class="card">
        <label class="item item-input item-select">
          <div class="input-label">Filtrar por: </div>
          <select ng-model="vm.type" required>
            <option value="exams">Provas</option>
            <option value="homework">Trabalhos</option>
          </select>
        </label>
      </div>

      <div class="card" ng-if="vm.type=='exams'"
           ng-repeat="grade in vm.subjectsExams track by grade.id+grade.ownerId">
        <div class="item item-text-wrap" ng-click="vm.selectSubject(grade.ownerId)">
          <h3>{{grade.title}} - {{grade.ownerName}}</h3>
          <br>
          <h4>Nota: {{grade.result || 'Sem nota'}} - Peso: {{grade.weight}}</h4>
        </div>
      </div>

      <div class="card" ng-if="vm.type=='homework'"
           ng-repeat="grade in vm.subjectsHomework track by grade.id+grade.ownerId" >
        <div class="item item-text-wrap" ng-click="vm.selectSubject(grade.ownerId)">
          <h3>{{grade.title}} - {{grade.ownerName}}</h3>
          <br>
          <h4>Nota: {{grade.result || 'Sem nota'}} - Peso: {{grade.weight}}</h4>
        </div>
      </div>

    </ion-content>
  </ion-view>
</ion-view>