<ion-view id="grades">
  <ion-view style="" id="subject-list" title="Notas">
    <ion-content class="has-header" padding="true">

      <div class="card">
        <label class="item item-input item-select">
          <div class="input-label">Filtrar por: </div>
          <select ng-model="vm.type" required>
            <option value="exams">Provas</option>
            <option value="homework">Trabalhos</option>
          </select>
        </label>
      </div>

      <div class="card" ng-if="vm.type=='exams'">
        <div class="item item-text-wrap" ng-if="vm.subjectsExams.length==0">
          Nenhuma Prova com nota cadastrada.
        </div>

        <ul class="list" ng-if="vm.subjectsExams.length > 0">
          <li class="item item-text-wrap" ng-click="vm.selectSubject(grade.ownerId)"
              ng-repeat="grade in vm.subjectsExams track by grade.id + grade.ownerId">
            <h3>{{grade.title}} - {{grade.ownerName}}</h3>
            <p>Nota: {{grade.result || 'Sem nota'}} - Peso: {{grade.weight}}</p>
          </li>
        </ul>
      </div>

      <div class="card" ng-if="vm.type=='homework'">
        <div class="item item-text-wrap" ng-if="vm.subjectsHomework.length==0">
          Nenhum Trabalho com nota cadastrada.
        </div>

        <ul class="list" ng-if="vm.subjectsHomework.length > 0">
          <li class="item item-text-wrap" ng-click="vm.selectSubject(grade.ownerId)"
              ng-repeat="grade in vm.subjectsHomework track by grade.id + grade.ownerId">
            <h3>{{grade.title}} - {{grade.ownerName}}</h3>
            <p>Nota: {{grade.result || 'Sem nota'}} - Peso: {{grade.weight}}</p>
          </li>
        </ul>
      </div>

    </ion-content>
  </ion-view>
</ion-view>