<ion-view id="grades">
  <ion-view style="" id="subject-list" title="Notas">
    <ion-content class="has-header" padding="true">

      <div class="card">
        <label class="item item-input item-select">
          <div class="input-label">Filtrar por: </div>
          <select ng-model="vm.option"
                  ng-change="vm.selectSubject()" required>
            <option value="0">Todas as matérias</option>
            <option ng-repeat="subject in vm.subjects"
                    value="{{ subject.id }}">{{subject.name}}</option>
          </select>
        </label>
      </div>

      <div class="card" ng-repeat="subject in vm.selectedSubjects">
        <div class="item item-divider">
          {{ subject.name }}
        </div>
        <ul class="list" ng-if="vm.countSubjectResults(subject) > 0">
          <li class="item item-text-wrap"
              ng-repeat="exam in subject.exams"
              ng-if="exam.result != null">
            <h2>{{exam.title}}: {{exam.result | number: 2}}</h2>
          </li>
          <li class="item item-text-wrap"
              ng-repeat="hw in subject.homeworks"
              ng-if="hw.result != null">
            <h2>{{hw.title}}: {{hw.result | number: 2}}</h2>
          </li>
        </ul>
        <div class="item item-text-wrap"
             ng-if="vm.countSubjectResults(subject) == 0">
          Nenhuma nota cadastrada ainda.
        </div>
      </div>

    </ion-content>
  </ion-view>
</ion-view>