<ion-view id="nextEvents">
    <ion-view style="" id="subject-list" title="Próximos Eventos">
      <ion-content class="has-header" padding="true">


        <div class="card">
          <div class="item item-text-wrap" >
            Eventos
          </div>
        </div>

        <!--<div class="card" ng-repeat="subject in vm.subjects track by subject.id">-->
          <!--<div class="item item-text-wrap" ng-click="vm.selectSubject(subject.id)">-->
            <!--{{subject.name}}-->
          <!--</div>-->
        <!--</div>-->



      </ion-content>
    </ion-view>
</ion-view>