<ion-view style="" id="subeject-add-exam" title="Adicionar Prova">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" class="item item-input">
                <input placeholder="Nome" type="text">
            </label>
            <label style="" class="item item-input">
                <input placeholder="Data" type="month">
            </label>
            <label style="" class="item item-input">
                <input placeholder="Horário" type="time">
            </label>
            <label style="" class="item item-input">
                <input placeholder="Peso" type="number">
            </label>
        </form>
    </ion-content>
</ion-view>