<ion-view title="{{vm.subject.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-assertive button-icon button-clear ion-android-delete"
            ng-click="vm.showConfirm()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-if="vm.subject.exams.length > 0">
        <ul class="list" ng-repeat="exam in vm.subject.exams track by exam.id"
            ng-if="exam.id">
          <li class="item item-button-right">
            <h3>{{exam.title}} : {{exam.date | date: 'dd/MM/yyyy'}}</h3>
            <p>Nota: {{(exam.result | number: 2) || 'Sem nota'}}</p>
            <a ng-click="vm.editExam(exam.id)"
               class="button button-clear button-positive">
              <i class="icon ion-edit"></i>
            </a>
          </li>
        </ul>
      </div>
      <a class="item item-icon-left positive" ng-click="vm.addExam()">
        <i class="icon ion-android-add"></i>Adicionar
      </a>
    </div>
  </ion-content>
</ion-view>