<ion-view style="" id="subject" title="{{vm.subject.name}}">
  <ion-content class="has-header" padding="false">
    <div class="card">
      <div class="item item-divider">Aulas</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="class in vm.subject.classes track by class.id" ng-if="class.id">
          <li class="item">
            {{vm.dayName[class.day]}} : {{class.startTime | date: 'HH:mm'}}
            - {{class.endTime | date: 'HH:mm'}}
            <span ng-show="class.room">: {{class.room}}</span>
          </li>
        </ul>
        <a class="item item-icon-left positive" ng-click="vm.addClass()">
          <i class="icon ion-android-add"></i>
          Adicionar
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Provas</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="exam in vm.subject.exams track by exam.id"
            ng-if="exam.id">
          <li class="item item-button-right">
            {{exam.title}} : {{exam.date | date: 'dd/MM/yyyy'}} :
            {{(exam.result | number: 2) || 'Sem nota'}}
            <a ng-click="vm.editExam(exam.id)"
               class="button button-clear button-positive">
              Editar
            </a>
          </li>
        </ul>
        <a class="item item-icon-left positive" ng-click="vm.addExam()">
          <i class="icon ion-android-add"></i>
          Adicionar
        </a>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Trabalhos</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="homework in vm.subject.homeworks track by homework.id"
            ng-if="homework.id">
          <li class="item item-button-right">
            {{homework.title}} : {{homework.date | date: 'dd/MM/yyyy'}} :
            {{(homework.result | number: 2) || 'Sem nota'}}
            <a ng-click="vm.editHomework(homework.id)"
               class="button button-clear button-positive">
              Editar
            </a>
          </li>
        </ul>
        <a class="item item-icon-left positive" ng-click="vm.addHomework()">
          <i class="icon ion-android-add"></i>
          Adicionar
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>