<ion-view style="" id="subject" title="{{vm.subject.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-assertive button-icon button-clear ion-android-delete"
            ng-click="vm.showConfirm()"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-top">
    <ion-tab title="Aulas" ui-sref="subject.info.class">
     <ion-nav-view name="class"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Provas" ui-sref="subject.info.exams">
      <ion-nav-view name="exams"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Trabalhos" ui-sref="subject.info.homework">
      <ion-nav-view name="homework"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Notas" ui-sref="subject.info.grades">
      <ion-nav-view name="grades"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

</ion-view>