<ion-view title="{{vm.subject.name}}">
  <ion-nav-buttons side="right">
    <button class="button button-assertive button-icon button-clear ion-android-delete"
            ng-click="vm.showConfirm()"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" ng-if="vm.subject.classes.length > 0">
        <ul class="list" ng-repeat="class in vm.subject.classes track by class.id"
            ng-if="class.id">
          <li class="item item-text-wrap item-button-right">
            <h3> {{vm.days[class.day]}}</h3>
            <p> {{class.startTime | date: 'HH:mm'}}- {{class.endTime | date: 'HH:mm'}}
            <p> {{class.room}}</p>
            <a ng-click="vm.showConfirmClass(class.id)"
               class="button button-clear button-assertive">
              <i class="icon ion-android-delete"></i>
            </a>
          </li>
        </ul>
      </div>
      <a class="item item-icon-left positive" ng-click="vm.addClass()">
        <i class="icon ion-android-add"></i>Adicionar
      </a>
    </div>
  </ion-content>
</ion-view>