<ion-view style="" id="subject-add" title="Adicionar Materia">
  <ion-content class="has-header" padding="true">
    <form name="form" style="" class="list">
      <label style="" class="item item-input">
        <span class="input-label">Nome</span>
        <input type="text" ng-model="vm.input.name">
      </label>
      <label style="" class="item item-input">
        <span class="input-label">Código</span>
        <input placeholder="Opcional" type="text">
      </label>
      <button class="button icon-left button-block button-positive"
              ng-click="vm.addSubject()">Adiconar
      </button>
    </form>
  </ion-content>
</ion-view>