<ion-modal-view>
  <ion-header-bar>
    <button class="button button-clear button-dark button-icon ion-android-arrow-back"
      ng-click="vm.closeModal('addClass')"></button>
    <h1 class="title">Adicionar Aula</h1>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <form name="form" class="list" novalidate>
      <label class="item item-input item-select">
        <div class="input-label">Dia</div>
        <select ng-model="vm.input['addClass'].day" required>
          <option value=0>Domingo</option>
          <option value=1>Segunda</option>
          <option value=2>Terça</option>
          <option value=3>Quarta</option>
          <option value=4>Quinta</option>
          <option value=5>Sexta</option>
          <option value=6>Sábado</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário Inicio</span>
        <input type="time" ng-model="vm.input['addClass'].startTime" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário Fim</span>
        <input type="time" ng-model="vm.input['addClass'].endTime" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Sala</span>
        <input type="text" ng-model="vm.input['addClass'].room" placeholder="(Opcional)">
      </label>
      <button class="button icon-left button-block button-positive"
              ng-click="vm.addClass()" ng-disabled="form.$invalid">Adicionar
      </button>
    </form>
  </ion-content>
</ion-modal-view>