<ion-view id="subject-add-homework" title="Adicionar Aula">
  <ion-content class="has-header" padding="true">
    <form name="form" class="list" novalidate>
      <label class="item item-input item-select">
        <div class="input-label">Dia</div>
        <select ng-model="vm.input.day" required>
          <option value=1>Segunda</option>
          <option value=2>Terça</option>
          <option value=3>Quarta</option>
          <option value=4>Quinta</option>
          <option value=5>Sexta</option>
          <option value=6>Sábado</option>
          <option value="">Escolha um dia</option>
        </select>
      </label>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário Inicio</span>
        <input type="time" ng-model="vm.input.startTime" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Horário Fim</span>
        <input type="time" ng-model="vm.input.endTime" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Sala</span>
        <input type="text" ng-model="vm.input.room" placeholder="(Opcional)">
      </label>
      <button class="button icon-left button-block button-positive"
              ng-click="vm.submit()" ng-disabled="form.$invalid">Adiconar
      </button>
    </form>
  </ion-content>
</ion-view>