<ion-view style="" id="subject-list" title="Materias">
  <ion-content class="has-header" padding="true">

    <div class="card" ng-repeat="subject in vm.subjects track by subject.id">
      <div class="item item-text-wrap" ng-click="vm.selectSubject(subject.id)">
        {{subject.name}}
      </div>
      <spam>
        <a ng-click="vm.deleteSubject(subject.id)"
           class="button button-clear button-positive">
          <i class="icon ion-trash-b"></i>
        </a>
      </spam>
    </div>

    <button class="button button-block button-positive"
            ng-click="vm.addSubject()">Adiconar Nova Matéria
    </button>

  </ion-content>
</ion-view>