<ion-view style="" id="subject" title="Concorrentes">
  <ion-content class="has-header" padding="false">
    <div class="card">
      <div class="item item-divider">Aulas</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="class in vm.subject.classes">
          <li class="item">
            {{class.day}} : {{class.hour}} : {{class.room}}
          </li>
        </ul>
        <div class="item item-divider">
          <button class="button icon-left ion-plus button-outline button-positive"></button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Provas</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="exam in vm.subject.exams">
          <li class="item">
            {{exam.name}} : {{exam.date}} : {{exam.grade}}
          </li>
        </ul>
        <div class="item item-divider">
          <button class="button icon-left ion-plus button-outline button-positive"
                  ng-click="vm.createExam()"></button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">Listas</div>
      <div class="item item-text-wrap">
        <ul class="list" ng-repeat="homework in vm.subject.homeworks">
          <li class="item">
            {{homework.name}} : {{homework.date}} : {{homework.grade}}
          </li>
        </ul>
        <div class="item item-divider">
          <button class="button icon-left ion-plus button-outline button-positive"
                  ng-click="vm.createHomework()"></button>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>