span.grade {
  display: block;
  margin-bottom: 15px;
}

p.subtitle {
  margin: 10px 16px;
}

span.times {
  position: relative;
  top: -3px;
  font-weight: bold;
  font-size: 10px;
}

.weekview-normal-event-container,
.dayview-normal-event-container {
  height: 400px;
}

.calendar-event {
  min-height: 38px;
}